* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

/* Style the header */
header {
    background-color: black;
}

.header h1 {
    font-size: 100000px;
}


/* Create two columns/boxes that floats next to each other */
#nav {
    float: left;
    width: 20%;
    background: #ccc;
    padding: 20px;
    /*height: 1343.5px;*/
}

    /* Style the list inside the menu */
    #nav ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: midnightblue;
    padding: 10px;
    text-align: center;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}


.top-left {
    position: absolute;
    top: 16px;
    left: 225px;
    text-align: left;
}

/* Style the top navigation bar */
.topnav {
    background-color: #333;
    min-height: 48px;
}

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav a:hover {
            background-color: red;
            color: black;
        }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: black;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 500px; /* you can change as you need it */
    overflow: auto; /* to get scroll */
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    #nav {
        text-align: center;
        width: 100%;
    }

    #article, .footer {
        width: 100%;
    }
}

.buttons {
    position: absolute;
    top: 450px;
    width: 120px;
    transform: translateY(50%);
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}

    .sticky + .article {
        padding-top: 60px;
    }
